.container {
  position: relative;
  background-color: #8AB8A8;
  width: 80%;
  margin: 0 auto;
  min-height: 25vw;
  max-height: 50vw;
  min-width: 40%;
  max-width: 60%;
  z-index: 1;
}

.containerheader {
  display: inline;
  position: absolute;
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
  background: #53777C;
  font-size: 1.5em;
  color: white;
  text-indent: 125px;
  z-index: 0;
}

.bar {
  position: absolute;
  display: inline-block;
  bottom: 0;
  margin-left: 15px;
  background: #6D8D82;
  width: 14%;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 40px;
}

.bar:nth-child(even) {
  background: #6B9997;
}

.bar:nth-child(2) {
  left: 10%;
}

.bar:nth-child(3) {
  left: 25%;
}

.bar:nth-child(4) {
  left: 40%;
}

.bar:nth-child(5) {
  left: 55%;
}

.bar:nth-child(6) {
  left: 70%;
}

